@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

*{
    font-family: Poppins, sans-serif ;
    padding: 0;
    margin: 0;
}

#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 20px 20px;
    margin-bottom: 35px;
}

.content span{
    color: red;
    font-size: 40px;
    position: absolute;
    left: 5%;
    top: 44%;
    cursor: pointer;
}

.content h1{
    font-size:35px;
    font-style: italic;
    position: relative;
    left: 35%;
    top: 22%;
    color: red;

}

button{
    position: absolute;
    right: 2%;
    top: 35%;
    font-size: 13px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 25px;
    border-color: red;
    border-width: 2px;
    color: black;
    box-shadow: 6px 6px 12px #acaaaa;
    cursor: pointer;
    z-index: 1;
    transition: 1s ease-in-out;
}

button:hover{
    background-color: red;
    color: #fff;

}

#main{
    margin-top: 50px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    
}

.info{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.logo2{
    width: 13%;
    padding-left: 30px;
    margin-left: 30px;
}

.info H3{
    font-size: 55px;
    font-weight: 500;
}

#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 500;
}

.about1{
    margin-bottom: 19px;
}

#services{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    font-weight: 500;
    background-color: red;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.services h1{
    margin-bottom: 10px;
    font-size: 30px;
}

.services li{
    display: flex;
    justify-content: center;
    align-items: center;
}

#consult{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.consult h1{
    margin-bottom: 10px;
    font-size: 30px;
}

#books{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 500;
    background-color: red;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.books h1{
    margin-bottom: 10px;
    font-size: 30px;
}

#training{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 50px;
}

.training h1{
    margin-bottom: 10px;
    font-size: 30px;
}

.training a{
    font-weight: 700;
    color: blue;
}

#contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.founder{
    position: absolute;
    right: 0;
    padding-right: 20px;
}

.contact{
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact h2{
    margin-bottom: 10px;
}

.contact p{
    margin-top: 8px;
}

svg{
    margin-right: 7px;
}

@media (max-width: 600px) {

    #contact{
     display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
    }

    .information img{
        display: none;
    }

    .founder{
        padding-right: 5px;
    }
     
    .contact{
        font-size: 18px;
        padding-left: 15px;
    }

    .content h1{
        display: none;
    }

    .logo2{
        width: 25%;
        margin-left: 10px;
        padding-left: 10px;
    }

    #services{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        font-weight: 500;
        background-color: red;
        color: #fff;
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
    }
    
    .services h1{
        margin-bottom: 15px;
        font-size: 30px;
    }

}

@media (min-width: 601px){

    #contact{
     display: flex;
    flex-direction: column;
    justify-content: flex-end;
    }

    svg{
        width: 20px;
        height: 20px;
    }

    .information img{
        display: none;
    }

    .founder{
        padding-right: 5px;
    }
     
    .contact{
        font-size: 15px;
    }

    .content h1{
        display: none;
    }

    #main{
        margin-top: 50px;
    }

    .logo2{
        width: 30%;
        margin-left: 10px;
        padding-left: 10px;
    }

    #services{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        font-weight: 500;
        background-color: red;
        color: #fff;
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
    }
    
    .services h1{
        margin-bottom: 15px;
        font-size: 30px;
    }

}

@media (min-width: 768px){

    button{
        opacity: 1;
        margin-bottom: 50px;
        position: absolute;
        right: 2%;
        top: 35%;
        font-size: 12px;
        padding: 15px;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 35px;
        border-color: red;
        border-width: 2px;
        color: black;
        box-shadow: 6px 6px 12px #acaaaa;
        cursor: pointer;
        z-index: 1;
        transition: 1s ease-in-out;
    
    }

    #contact{
     display: flex;
    flex-direction: column;
    justify-content: flex-end;
    }

    .information img{
        display: none;
    }

    .founder{
        padding-right: 5px;
    }
     
    .contact{
        font-size: 15px;
    }

    .content h1{
        display: list-item;
        list-style: none;
        font-size: 20px;
        position: absolute;
        left: 18%;
        top: 50%;
    }

    #main{
        margin-top: 50px;
    }

    .logo2{
        width: 20%;
        margin-left: 10px;
        padding-left: 10px;
    }

    #services{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        font-weight: 500;
        background-color: red;
        color: #fff;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
        text-align: center;
    }
    
    .services h1{
        margin-bottom: 15px;
        font-size: 30px;
    }

}

@media (min-width: 950px){
    .content h1{
        display: list-item;
        list-style: none;
        font-size: 22px;
        position: absolute;
        left: 20%;
        top: 50%;
    }
}

@media (min-width: 992px){

    #contact{
     display: flex;
    flex-direction: column;
    }

    .founder{
        padding-right: 5px;
    }
     
    .contact{
        font-size: 15px;
    }

    svg{
        width: 20px;
        height: 20px;
    }

    .information img{
        display: list-item;
    }

    .content h1{
        display: list-item;
        list-style: none;
        font-size: 25px;
        position: absolute;
        left: 20%;
        top: 50%;
    }

}

@media (min-width: 1100px){
    .content h1{
        display: list-item;
        list-style: none;
        font-size: 28px;
        position: absolute;
        left: 20%;
        top: 50%;
    }
}

@media (min-width: 1200px){
    #nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        padding: 20px 20px;
        margin-bottom: 35px;
    }
    
    .content span{
        color: red;
        font-size: 40px;
        position: absolute;
        left: 5%;
        top: 44%;
        cursor: pointer;
    }
    
    .content h1{
        font-size:30px;
        font-style: italic;
        position: relative;
        left: 35%;
        top: 22%;
        color: red;
    
    }
    
    button{
        position: absolute;
        right: 2%;
        top: 35%;
        font-size: 13px;
        padding: 15px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 25px;
        border-color: red;
        border-width: 2px;
        color: black;
        box-shadow: 6px 6px 12px #acaaaa;
        cursor: pointer;
        z-index: 1;
        transition: 1s ease-in-out;
    }
    
    button:hover{
        background-color: red;
        color: #fff;
    
    }
    
    #main{
        margin-top: 50px;
        margin-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
        
    }
    
    .info{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
    }
    
    .logo2{
        width: 13%;
        padding-left: 30px;
        margin-left: 30px;
    }
    
    .info H3{
        font-size: 55px;
        font-weight: 500;
    }
    
    #about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 20px;
        font-weight: 500;
    }
    
    .about1{
        margin-bottom: 19px;
    }
    
    #services{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        font-weight: 500;
        background-color: red;
        color: #fff;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .services h1{
        margin-bottom: 10px;
        font-size: 30px;
    }
    
    .services li{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #consult{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 20px;
        font-weight: 500;
        margin-top: 20px;
    }
    
    .consult h1{
        margin-bottom: 10px;
        font-size: 30px;
    }
    
    #books{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 20px;
        font-weight: 500;
        background-color: red;
        color: #fff;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .books h1{
        margin-bottom: 10px;
        font-size: 30px;
    }
    
    #training{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 20px;
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    
    .training h1{
        margin-bottom: 10px;
        font-size: 30px;
    }
    
    .training a{
        font-weight: 700;
        color: blue;
    }
    
    #contact{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .founder{
        position: absolute;
        right: 0;
        padding-right: 20px;
    }
    
    .contact{
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .contact h2{
        margin-bottom: 10px;
    }
    
    .contact p{
        margin-top: 8px;
    }
    
    svg{
        margin-right: 7px;
    }
}